
    <!-- header start -->
    <header class="section-t-space">
        <div class="custom-container">
          <div class="header">
            <div class="head-content">
              <button class="sidebar-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
                <i class="ri-menu-line"></i>
              </button>
              <div class="header-location">
                <a href="landing.html#location" data-bs-toggle="modal">
                  <h2>Cúcuta, Colombia</h2>
                  <i class="ri-arrow-down-s-line d-arrow"></i>
                </a>
              </div>
            </div>
            <a href="notification.html">
              <i class="ri-notification-2-fill"></i>
            </a>
          </div>
        </div>
      </header>
      <!-- header end -->
  