
    <!-- header para inicio -->
    <header class="section-t-space"  *ngIf="!(router.url.includes('categories') 
    || router.url.includes('foodListing')
    || router.url.includes('offers')
    || router.url.includes('kitchenListing')
    || router.url.includes('productDetail')
    || router.url.includes('addProduct')
    || router.url.includes('myProducts')
    )">
        <div class="custom-container">
          <div class="header">
            <div class="head-content">
              <button class="sidebar-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
                <i class="ri-menu-line"></i>
              </button>
              <div class="header-location">
                <a href="landing.html#location" data-bs-toggle="modal">
                  <h2>Cúcuta, Colombia</h2>
                  <i class="ri-arrow-down-s-line d-arrow"></i>
                </a>
              </div>
            </div>
            <a href="notification.html">
              <i class="ri-notification-2-fill"></i>
            </a>
          </div>
        </div>
    </header>
    <app-search  *ngIf="!(router.url.includes('categories') 
    || router.url.includes('foodListing')
    || router.url.includes('offers')
    || router.url.includes('kitchenListing')
    || router.url.includes('productDetail')
    || router.url.includes('addProduct')
    || router.url.includes('myProducts')
    )"></app-search>
    
    <!-- header para categorias -->
    <header class="section-t-space"  *ngIf="(router.url.includes('categories') 
    || router.url.includes('foodListing')
    || router.url.includes('kitchenListing')
    || router.url.includes('addProduct')

    || router.url.includes('myProducts')
    

    
    
    )">
      <div class="custom-container">
        <div class="header-panel" >
          <a routerLink=""  *ngIf="( router.url.includes('myProducts'))">
            <i class="ri-arrow-left-s-line"></i>
          </a>
          <a routerLink="myProducts"  *ngIf="( router.url.includes('addProduct'))" >
            <i class="ri-arrow-left-s-line"></i>
          </a>
          <h2  *ngIf="(router.url.includes('categories'))">Categorías de comida</h2>
          <h2  *ngIf="( router.url.includes('foodListing'))">Comidas recomendadas</h2>
          <h2  *ngIf="( router.url.includes('kitchenListing'))">Cocinas recomendadas</h2>
          <h2  *ngIf="( router.url.includes('addProduct'))">Agregar producto</h2>
          <h2  *ngIf="( router.url.includes('myProducts'))">My Products</h2>
          <a   *ngIf="( router.url.includes('myProducts'))" routerLink="addProduct">
            <i class="ri-add-line theme-color add-square-img"></i>
          </a>
        </div>
      </div>
    </header>
    
    
  