      <!-- bottom navbar start -->
      <div class="navbar-menu"  *ngIf="!isCategoriesRoute()">
        <ul>
          <li [ngClass]="{ 'active': yeoman.virtualRoute === 'home' }"(click)="setVirtualRoute('home')">
            <a routerLink="home">
              <div class="icon">
                <img class="unactive" src="assets/radarfood/images/svg/home.svg" alt="home" />
                <img class="active"  src="assets/radarfood/images/svg/home-fill.svg" alt="home" />
              </div>
              <span class="active" >Inicio</span>
            </a>
          </li>
          <li [ngClass]="{ 'active': yeoman.virtualRoute === 'offers' }"(click)="setVirtualRoute('offers')">
            <a  routerLink="offers">
              <div class="icon">
                <img class="unactive" src="assets/radarfood/images/svg/offer.svg" alt="offer" />
                <img class="active" src="assets/radarfood/images/svg/offer-fill.svg" alt="offer" />
              </div>
              <span>Ofertas</span>
            </a>
          </li>
  
          <li [ngClass]="{ 'active': yeoman.virtualRoute === 'cart' }"(click)="setVirtualRoute('home')">
            <a href="cart.html">
              <div class="icon">
                <img class="unactive"  src="assets/radarfood/images/svg/cart.svg" alt="cart" />
                <img class="active"  src="assets/radarfood/images/svg/cart-fill.svg" alt="cart" />
              </div>
              <span>Mi orden</span>
            </a>
          </li>
          <li [ngClass]="{ 'active': yeoman.virtualRoute === 'profile' }"(click)="setVirtualRoute('home')">
            <a href="profile.html">
              <div class="icon">
                <img class="unactive"  src="assets/radarfood/images/svg/user.svg" alt="user.svg" />
                <img class="active"  src="assets/radarfood/images/svg/user-fill.svg" alt="user-fill.svg" />
              </div>
              <span>Perfil</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- bottom navbar end -->