
    <!-- banner section start -->
    <section class="banner-section section-t-space" style="padding-top: 128px;">
        <div class="custom-container">
          <swiper [config]="configBanner" >
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let banner of banners">
                <img class="img-fluid banner-img" src="{{banner.images[0]}}" alt="banner1" />
              </div>
              <!-- <div class="swiper-pagination"></div> -->
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <!-- <div class="swiper-button-prev" style="color: #ff0000ff;" ></div>
            <div class="swiper-button-next" style="color: #ff0000ff;"></div> -->
          </swiper>    
            
        </div>
      </section>
  
      <!-- banner section end -->
  
      <!-- Food Categories section start -->
      <section class="section-t-space">
        <div class="custom-container">
          <div class="title">
            <h3 class="mt-0">Por categoría</h3>
            <a routerLink="/categories">Ver todos</a>
          </div>  
          <div class="swiper categories">
            <swiper [config]="configCategories" >
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let category of categories;let i = index">
                  <a  class="food-categories">
                    <img class="img-fluid categories-img" src="{{category.images[0]}}" alt="pizza" />
                  </a>
                  <h6>{{category.name}}</h6>
                </div>
                <!-- <div class="swiper-pagination"></div> -->
              </div>
              <!-- <div class="swiper-pagination"></div> -->
            </swiper>  
          </div>
        </div>
      </section>
      <!-- Food Categories section end -->
  
      <!-- suggestions section start -->
      <section class="section-t-space">
        <div class="custom-container">
          <div class="title">
            <h3 class="mt-0">Recomendado para Tí</h3>
            <a routerLink="/foodListing">Ver todos</a>
          </div>
  
          <div class="swiper products">
            <swiper [config]="config3" >
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let suggestion of suggestions; let i =index ">
                  <div class="product-box product-box-bg">
                    <a  class="product-box-img">
                      <img class="img-fluid" src="{{suggestion.images[0]}}" alt="p1" />
                    </a>
                    <div class="product-box-detail">
                      <h5>{{suggestion.name}}</h5>
                      <ul class="timing">
                        <li>
                          <span class="star"><i class="ri-star-s-fill"></i></span> 3.7
                        </li>
                        <li>20 min</li>
                      </ul>
                      <div class="bottom-panel">
                        <div class="price">${{suggestion.price}}</div>
                        <a href="cart.html" class="cart mb-0">
                          <i class="ri-shopping-cart-2-fill"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </swiper>
          </div>
        </div>
      </section>
      <!-- suggesitons section start -->
  
      <!-- Brand section start -->
      <section class="section-t-space">
        <div class="custom-container">
          <div class="title">
            <h3 class="mt-0">Franquicias</h3>
            <a href="" >Ver todos</a>
          </div>  
          <div class="swiper brands-logo">
            <swiper [config]="configBrands" >
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let brand of evenBrands; let i = index">
                  <a  class="food-brands">
                    <img class="img-fluid brand-img" src="{{brand.images[0]}}" alt="brand1" />
                  </a>
                  <h4>{{brand.name}}</h4>    
                  <a  class="food-brands mt-2">
                    <img class="img-fluid brand-img" src="{{oddBrands[i].images[0]}}" alt="brand6" />
                  </a>
                  <h4>{{oddBrands[i].name}}</h4>
                </div>    
              </div>
            </swiper>
          </div>
        </div>
      </section>
      <!-- Brand section start -->
  
      <!-- TOP 5  Cocinas section start -->
      <section class="section-t-space">
        <div class="custom-container">
          <div class="title">
            <h3 class="mt-0">Cocinas TOP 5 en tus cercanías</h3>
            <a href="" >Ver todos</a>
          </div>
          <div class="row gy-3">
            <div class="col-12" *ngFor="let kitchen of top;let i =index">
              <div class="vertical-product-box">
                <div class="vertical-box-img">
                  <a href="details.html">
                    <img class="img-fluid img" src="{{kitchen.images[0]}}" alt="vp5" />
                  </a>
                  <div class="like-icon">
                    <i class="ri-heart-3-line outline-icon"></i>
                    <i class="ri-heart-3-fill fill-icon"></i>
                    <div class="effect-group">
                      <span class="effect"></span>
                      <span class="effect"></span>
                      <span class="effect"></span>
                      <span class="effect"></span>
                      <span class="effect"></span>
                    </div>
                  </div>
                  <div class="offers" [hidden]="kitchen.upto<=0">
                    <h6 [hidden]="kitchen.upto<=0">upto $ {{kitchen.upto}}</h6>
                    <h2 [hidden]="kitchen.off<=0">{{kitchen.off}}% OFF</h2>
                  </div>
                </div>
  
                <div class="vertical-box-details">
                  <div class="vertical-box-head">
                    <div class="restaurant">
                      <a href="details.html">
                        <h5>{{kitchen.name}}</h5>
                      </a>
                    </div>
                    <h6 class="food-items">{{kitchen.foodItem }}</h6>
  
                    <h6 class="rating-star">
                      <span class="star"><i class="ri-star-s-fill"></i></span> {{kitchen.reviews}} (1k+ Reviews)
                    </h6>
                  </div>
                  <div class="location-distance">
                    <div class="location">
                      <h6 class="place">Ontario</h6>
                      <h6 class="pt-2 pb-2"><span class="theme-color">${{kitchen.price}}</span> for one</h6>
                    </div>
                    <div class="distance">
                      <ul>
                        <li><i class="ri-map-pin-fill theme-color"></i>{{kitchen.distance}} km</li>
                        <li><i class="ri-time-fill theme-color"></i> {{kitchen.time}} min</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </section>
      <!-- TOP 5  Cocinas section end -->
  
      <!-- empty section start -->
      <section class="empty-section section-t-space section-b-space">
        <div class="custom-container">
          <h2>Tastyp!</h2>
          <h5>Lo más sabroso, cerca de tí</h5>
        </div>
      </section>
      <!-- empty section end -->
  
      <!-- filter offcanvas start -->
      <div class="modal search-filter" id="search-filter" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-title">
              <h3 class="fw-semibold">Filter</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <section class="section-b-space pt-0">
              <div class="custom-container">
                <ul class="payment-card-box search-categories">
                  <li class="mt-0">
                    <div class="payment-detail">
                      <div class="add-img">
                        <img class="img-fluid img" src="assets/radarfood/images/svg/truck.svg" alt="truck" />
                      </div>
                      <div class="form-check radio-btn">
                        <label class="form-check-label" for="btn-1">Fast Delivery</label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="btn-1" checked />
                      </div>
                    </div>
                  </li>
                  <li class="mt-0">
                    <div class="payment-detail">
                      <div class="add-img">
                        <img class="img-fluid img" src="assets/radarfood/images/svg/location.svg" alt="truck" />
                      </div>
                      <div class="form-check radio-btn">
                        <label class="form-check-label" for="btn-2">Store in my area</label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="btn-2" />
                      </div>
                    </div>
                  </li>
                  <li class="mt-0">
                    <div class="payment-detail">
                      <div class="add-img">
                        <img class="img-fluid img" src="assets/radarfood/images/svg/summary.svg" alt="truck" />
                      </div>
                      <div class="form-check radio-btn">
                        <label class="form-check-label" for="btn-3">Previous Orders</label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="btn-3" />
                      </div>
                    </div>
                  </li>
                  <li class="mt-0">
                    <div class="payment-detail">
                      <div class="add-img">
                        <img class="img-fluid img" src="assets/radarfood/images/svg/star.svg" alt="truck" />
                      </div>
                      <div class="form-check radio-btn">
                        <label class="form-check-label" for="btn-4">Popular Order</label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="btn-4" />
                      </div>
                    </div>
                  </li>
                </ul>
                <section class="pt-0">
                  <div class="amount-range">
                    <div class="range">
                      <label class="form-label">Min Order Amount</label>
                      <output class="range-amount" id="rangevalue">$100</output>
                    </div>
                    <input type="range" value="100" min="0" max="500" oninput="rangevalue.value=value" />
                  </div>
                </section>
                <section class="pt-0">
                  <div class="amount-range">
                    <div class="range">
                      <label class="form-label">Location Between</label>
                      <output class="range-amount" id="rangevalue1">2km</output>
                    </div>
                    <input type="range" value="2" min="0" max="10" oninput="rangevalue1.value=value" />
                  </div>
                </section>
                <section class="pt-0">
                  <div class="order-options">
                    <h3 class="mt-3 mb-3 dark-text fw-semibold">Order Type</h3>
                    <div class="order-type">
                      <div class="auth-form search-form">
                        <div class="form-check">
                          <label class="form-check-label" for="fixed1">Delivery</label>
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="fixed1" checked />
                        </div>
                      </div>
                      <div class="auth-form search-form">
                        <div class="form-check">
                          <label class="form-check-label" for="fixed2">Pick Up</label>
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="fixed2" />
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
  
                <section class="pt-0 section-lg-b-space">
                  <div class="order-options">
                    <h3 class="mb-3 dark-text fw-semibold">Veg/Non-Veg</h3>
                    <div class="order-type">
                      <div class="auth-form search-form">
                        <div class="form-check">
                          <label class="form-check-label" for="fixed3">Pure Veg</label>
                          <input class="form-check-input" type="radio" name="RadioDefault" id="fixed3" />
                        </div>
                      </div>
                      <div class="auth-form search-form section-b-space">
                        <div class="form-check">
                          <label class="form-check-label" for="fixed4">Non Veg</label>
                          <input class="form-check-input" type="radio" name="RadioDefault" id="fixed4" checked />
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
  
            <div class="footer-modal d-flex">
              <a href="landing.html" class="btn btn-link btn-inline mt-0 w-50">Clear Filter</a>
              <a href="search.html" class="theme-btn btn btn-inline mt-0 w-50">Apply</a>
            </div>
          </div>
        </div>
      </div>
      <!-- filter offcanvas end -->
  
      <!-- location offcanvas start -->
      <div class="modal fade location-modal" id="location" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="d-flex align-items-center">
              <div class="modal-title">
                <i class="ri-arrow-down-s-line"></i>
                <h2 class="fw-semibold">Select a Location</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
            <section class="search-section pt-0">
              <div class="custom-container">
                <form class="auth-form search-head" target="_blank">
                  <div class="form-group">
                    <div class="form-input w-100">
                      <input type="text" class="form-control search" placeholder="Search for area, street name.." />
                      <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>
                </form>
              </div>
            </section>
            <div class="custom-container">
              <a href="landing.html" class="current-location">
                <div class="current-address">
                  <i class="ri-focus-3-line focus"></i>
                  <div>
                    <h4>Use current-location</h4>
                    <h6>Wellington St., Ottawa, Ontario, Canada</h6>
                  </div>
                </div>
  
                <i class="ri-arrow-right-s-line arrow"></i>
              </a>
              <h3 class="mt-3 fw-medium dark-text">Recent Location</h3>
  
              <a href="landing.html" class="recent-location">
                <div class="loation-icon text-center">
                  <i class="ri-map-pin-line dark-text"></i>
                </div>
  
                <div class="recant-address">
                  <h3>Bayshore</h3>
                  <h6>Wellington St., Ottawa, Ontario, Canada</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- location offcanvas end -->
  
      <!-- panel-space start -->
      <section class="panel-space"></section>
      <!-- panel-space end -->
  
