
<!-- offers banner section start -->
<img class="img-fluid deal-bg w-100" src="assets/radarfood/images/background/deal-bg.png" alt="deal-bg" />

<section class="pt-2">
    <swiper [config]="configOffer"  >
      <div class="swiper-wrapper offer-wrapper text-center" >
        <div class="swiper-slide mi_clase"  [ngClass]="{'mi-swiper': isActive}"*ngFor="let offer of yeoman.offers;let i = index">
          <img class="img-fluid offer-banner" src="{{offer.images}}" alt="banner4" />
          {{offer.name}}
        </div>
       
      </div>   
    </swiper>
  </section>
  <!-- offers banner section start -->

  <!-- big deal section start -->
 <app-suggestions></app-suggestions>>
  <!-- big deal section end -->

  <!-- Restaurants section start -->
 <app-top></app-top>

  <!-- Restaurants section end -->