
<!-- offers banner section start -->
<img class="img-fluid deal-bg w-100" src="assets/radarfood/images/background/deal-bg.png" alt="deal-bg" />

<section class="pt-2">
    <swiper [config]="configOffer"  >
      <div class="swiper-wrapper offer-wrapper text-center" >
        <div class="swiper-slide">
          <img class="img-fluid offer-banner" src="assets/radarfood/images/banner/banner4.png" alt="banner4" />
        </div>
        <div class="swiper-slide">
          <img class="img-fluid offer-banner" src="assets/radarfood/images/banner/banner5.png" alt="banner5" />
        </div>
        <div class="swiper-slide">
          <img class="img-fluid offer-banner" src="assets/radarfood/images/banner/banner6.png" alt="banner6" />
        </div>
      </div>   
    </swiper>
  </section>
  <!-- offers banner section start -->

  <!-- big deal section start -->
  <section class="products box-bg section-t-space section-b-space">
    <div class="custom-container">
      <div class="title success-color">
        <h3 class="fw-semobold">Big Deal Offer</h3>
        <h5 class="">Min 50% OFF</h5>
      </div>
      <div class="row gy-4">
        <div class="col-6 pt-4">
          <div class="product-box product-box-bg">
            <a class="product-box-img">
              <img class="img-fluid" src="assets/radarfood/images/product/p1.png" alt="p1" />
            </a>
            <div class="product-box-detail">
              <h5>Chicken karahi</h5>
              <ul class="timing">
                <li>
                  <span class="star"><i class="ri-star-s-fill"></i></span> 3.7
                </li>
                <li>20 min</li>
              </ul>
              <div class="bottom-panel">
                <div class="price">$19.23</div>
                <a href="cart.html" class="cart mb-0">
                  <i class="ri-shopping-cart-2-fill"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 pt-4">
          <div class="product-box product-box-bg">
            <a class="product-box-img">
              <img class="img-fluid" src="assets/radarfood/images/product/p2.png" alt="p2" />
            </a>
            <div class="product-box-detail">
              <h5>Mexican Pizza</h5>
              <ul class="timing">
                <li>
                  <span class="star"><i class="ri-star-s-fill"></i></span> 4.5
                </li>
                <li>20 min</li>
              </ul>
              <div class="bottom-panel">
                <div class="price">$9.5</div>
                <a href="cart.html" class="cart mb-0">
                  <i class="ri-shopping-cart-2-fill"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- big deal section end -->

  <!-- Restaurants section start -->
  <section class="section-t-space section-b-space">
    <div class="custom-container">
      <div class="title">
        <h3 class="fw-semobold">200+ Restaurants</h3>
      </div>
      <div class="row gy-3">
        <div class="col-12">
          <div class="vertical-product-box">
            <div class="vertical-box-img">
              <a>
                <img class="img-fluid img" src="assets/radarfood/images/product/vp1.png" alt="vp5" />
              </a>
              <div class="like-icon">
                <i class="ri-heart-3-line outline-icon"></i>
                <i class="ri-heart-3-fill fill-icon"></i>
                <div class="effect-group">
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                </div>
              </div>
              <div class="offers">
                <h6>upto $2</h6>
                <h2>100% OFF</h2>
              </div>
            </div>

            <div class="vertical-box-details">
              <div class="vertical-box-head">
                <div class="restaurant">
                  <a>
                    <h5>Ben & Floren</h5>
                  </a>
                </div>
                <h6 class="food-items">Chicken quesadilla, avocado...</h6>

                <h6 class="rating-star">
                  <span class="star"><i class="ri-star-s-fill"></i></span> 3.7 (1k+ Reviews)
                </h6>
              </div>
              <div class="location-distance">
                <div class="location">
                  <h6 class="place">Ontario</h6>
                  <h6 class="pt-2 pb-2"><span class="theme-color">$5</span> for one</h6>
                </div>
                <div class="distance">
                  <ul>
                    <li><i class="ri-map-pin-fill theme-color"></i> 2 km</li>
                    <li><i class="ri-time-fill theme-color"></i> 25 min</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="vertical-product-box">
            <div class="vertical-box-img">
              <a>
                <img class="img-fluid img" src="assets/radarfood/images/product/vp2.png" alt="vp5" />
              </a>
              <div class="like-icon">
                <i class="ri-heart-3-line outline-icon"></i>
                <i class="ri-heart-3-fill fill-icon"></i>
                <div class="effect-group">
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                </div>
              </div>
              <div class="offers">
                <h6>upto $10</h6>
                <h2>150% OFF</h2>
              </div>
            </div>
            <div class="vertical-box-details">
              <div class="vertical-box-head">
                <div class="restaurant">
                  <h5>242 Pizza</h5>
                  <h6>
                    <span class="award"><i class="ri-award-fill"></i></span> Best Seller
                  </h6>
                </div>
                <h6 class="food-items">Detroit style, deep garlic loaf...</h6>

                <h6 class="rating-star">
                  <span class="star"><i class="ri-star-s-fill"></i></span> 4.5 (10k+ Reviews)
                </h6>
              </div>
              <div class="location-distance">
                <div class="location">
                  <h6 class="place">Toronto</h6>
                  <h6 class="pt-2 pb-2"><span class="theme-color">$19</span> for one</h6>
                </div>
                <div class="distance">
                  <ul>
                    <li><i class="ri-map-pin-fill theme-color"></i> 3 km</li>
                    <li><i class="ri-time-fill theme-color"></i> 18 min</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="vertical-product-box">
            <div class="vertical-box-img">
              <a>
                <img class="img-fluid img" src="assets/radarfood/images/product/vp3.png" alt="vp5" />
              </a>
              <div class="like-icon">
                <i class="ri-heart-3-line outline-icon"></i>
                <i class="ri-heart-3-fill fill-icon"></i>
                <div class="effect-group">
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                  <span class="effect"></span>
                </div>
              </div>
            </div>
            <div class="vertical-box-details">
              <div class="vertical-box-head">
                <div class="restaurant">
                  <a>
                    <h5>AWS - USA</h5>
                  </a>
                  <h6>
                    <span class="award"><i class="ri-award-fill"></i></span> Best Seller
                  </h6>
                </div>
                <h6 class="food-items">Classic bacon & eggs, sausage...</h6>

                <h6 class="rating-star">
                  <span class="star"><i class="ri-star-s-fill"></i></span> 4.0 (20k+ Reviews)
                </h6>
              </div>
              <div class="location-distance">
                <div class="location">
                  <h6 class="place">New York</h6>
                  <h6 class="pt-2 pb-2"><span class="theme-color">$3 </span> for one</h6>
                </div>
                <div class="distance">
                  <ul>
                    <li><i class="ri-map-pin-fill theme-color"></i> 2.5 km</li>
                    <li><i class="ri-time-fill theme-color"></i> 35 min</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Restaurants section end -->