
<!-- offers banner section start -->
<img class="img-fluid deal-bg w-100" src="assets/radarfood/images/background/deal-bg.png" alt="deal-bg" />

<section class="pt-2">
    <swiper [config]="configOffer"  >
      <div class="swiper-wrapper offer-wrapper text-center" >
        <div class="swiper-slide mi_clase"  [ngClass]="{'mi-swiper': isActive}">
          <img class="img-fluid offer-banner" src="assets/radarfood/images/banner/banner4.png" alt="banner4" />
        </div>
        <div class="swiper-slide mi_clase"  [ngClass]="{'mi-swiper': isActive}">
          <img class="img-fluid offer-banner" src="assets/radarfood/images/banner/banner5.png" alt="banner5" />
        </div>
        <div class="swiper-slide mi_clase"  [ngClass]="{'mi-swiper': isActive}">
          <img class="img-fluid offer-banner" src="assets/radarfood/images/banner/banner6.png" alt="banner6" />
        </div>
      </div>   
    </swiper>
  </section>
  <!-- offers banner section start -->

  <!-- big deal section start -->
 <app-suggestions></app-suggestions>>
  <!-- big deal section end -->

  <!-- Restaurants section start -->
 <app-top></app-top>

  <!-- Restaurants section end -->