<section class="categories section-lg-b-space" style="padding-top: 58px;">
    <div class="custom-container">
      <div class="row gy-5 ratio_square">
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/pizaa.png" alt="pizza" />
            </div>
            <h6>Pizza</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/burger.png" alt="burger" />
            </div>
            <h6>Burger</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/boritto.png" alt="boritto" />
            </div>
            <h6>Boritto</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/hotdog.png" alt="hotdog" />
            </div>
            <h6>Hot Dog</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/noodles.png" alt="noodles" />
            </div>
            <h6>Noodles</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/taco.png" alt="taco" />
            </div>
            <h6>Taco</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/fries.png" alt="fries" />
            </div>
            <h6>Fries</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/pasta.png" alt="pasta" />
            </div>
            <h6>Pasta</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/sandwich.png" alt="sandwich" />
            </div>
            <h6>Sandwich</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/donuts.png" alt="donuts" />
            </div>
            <h6>Donuts</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/muffin.png" alt="muffin" />
            </div>
            <h6>Muffin</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/dessert.png" alt="dessert" />
            </div>
            <h6>Dessert</h6>
          </a>
        </div>

        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/eggs.png" alt="eggs" />
            </div>
            <h6>Eggs</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/chicken.png" alt="chicken" />
            </div>
            <h6>Chicken</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/meat.png" alt="meat" />
            </div>
            <h6>Meat</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/salad.png" alt="salad" />
            </div>
            <h6>Salad</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/panner.png" alt="panner" />
            </div>
            <h6>Panner Tikka</h6>
          </a>
        </div>
        <div class="col-4">
          <a href="listing.html">
            <div class="food-categories food">
              <img class="img-fluid categories-img" src="assets/radarfood/images/product/biryani.png" alt="biryani" />
            </div>
            <h6>Biryani</h6>
          </a>
        </div>
      </div>
    </div>
  </section>