<!-- card section start -->
<div class="top-30"></div>
<section class="section-b-space " >
    <div class="custom-container">
        <ngx-awesome-uploader
        [adapter]="adapter"
        [captions]="captions">
        </ngx-awesome-uploader>
      <!-- <div class="debit-card">
        <div class="card-details">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-name fw-semibold">CREDIT CARD</h5>
            <img src="assets/radarfood/images/svg/network.svg" alt="network" />
          </div>
          <img class="img-fluid chip" src="assets/radarfood/images/svg/Chip.svg" alt="chip" />
          <ul class="ac-details">
            <li>
              <h6>AC No.</h6>
              <h3>5322 2564 0000 1202</h3>
            </li>
            <li>
              <h6>CVV</h6>
              <h3>532</h3>
            </li>
            <li>
              <h6>Exp.</h6>
              <h3>12/26</h3>
            </li>
          </ul>
          <div class="user-name">
            <h6>Name</h6>
            <h5>Nathaniel Ellis</h5>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <!-- card section start -->

  <!-- address form section start -->
  <section class="section-b-space pt-0">
    <div class="custom-container">
      <form class="auth-form address-form" target="_blank">
        <div class="form-group">
          <label class="form-label fw-semibold">Nombre</label>
          <div class="form-input mb-4">
            <input type="text" class="form-control" placeholder="Ingrese el nombre dle producto" />
          </div>
        </div>
        <div class="form-group">
            <label class="form-label fw-semibold">Descripcion</label>
            <div class="form-input mb-4">
              <textarea class="form-control" placeholder="Ingrese la descripción" rows="3"></textarea>
            </div>
          </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="form-label fw-semibold">Precio</label>
              <div class="form-input mb-3"><input type="number" class="form-control" placeholder="PRecio" /></div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="form-label fw-semibold">Existencia</label>
              <div class="form-input mb-3">
                <input type="number" class="form-control" placeholder="Existencia" />
              </div>
            </div>
          </div>
        </div>
        <a href="payment-method.html" class="btn theme-btn w-100">Agregar</a>
      </form>
    </div>
  </section>