<section>
    <div class="custom-container">
      <div class="restaurant-details-box">
        <div class="restaurant-head">
          <div class="name">
            <img class="img-fluid restaurant-logo" src="assets/radarfood/images/icons/brand3.png" alt="starbucks-logo" />
            <div class="d-block ms-2">
              <h3>Starbucks</h3>
              <h6>Coffee</h6>
            </div>
          </div>
          <div class="option">
            <a href="details.html#">
              <i class="ri-share-line share"></i>
            </a>

            <a href="details.html#">
              <i class="toggle-heart ri-heart-3-fill heart"></i>
            </a>
          </div>
        </div>

        <div class="restaurant-details">
          <div class="location">
            <h6 class="rating-star">
              <span class="star"><i class="ri-star-s-fill"></i></span> 3.7 (1k+ Reviews)
            </h6>
            <h6 class="pt-2 light-text"><span class="dark-text">4.0km</span> Free Delivery</h6>
          </div>
          <ul class="distance">
            <li><i class="ri-map-pin-fill theme-color"></i> 1 km</li>
            <li><i class="ri-time-fill theme-color"></i> 15 min</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Restaurant details section end -->

  <!-- offer section start -->
  <section>
    <div class="custom-container">
      <div class="swiper coupon">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="offer-box">
              <div class="offer-icon">
                <img class="img-fluid offer" src="assets/radarfood/images/icons/Offer-Discount.png" alt="offer" />
              </div>
              <div class="offer-content">
                <h5>50% OFF upto & $25</h5>
                <h6 class="light-text">Use Code MEFRGD124</h6>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="offer-box">
              <div class="offer-icon">
                <img class="img-fluid offer" src="assets/radarfood/images/icons/Offer-Discount.png" alt="offer" />
              </div>
              <div class="offer-content">
                <h5>50% OFF upto & $25</h5>
                <h6 class="light-text">Use Code MEFRGD124</h6>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="offer-box">
              <div class="offer-icon">
                <img class="img-fluid offer" src="assets/radarfood/images/icons/Offer-Discount.png" alt="offer" />
              </div>
              <div class="offer-content">
                <h5>50% OFF upto & $25</h5>
                <h6 class="light-text">Use Code MEFRGD124</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="offcanvas fade offcanvas-bottom product-detail-popup show" tabindex="-1" id="product-popup">
    <div class="product-box-modal ratio_40">
      <div class="product-img">
        <img class="ajustada" src="{{yeoman.preview.images}}" alt="rp1" />
      </div>
      <div class="product-content">
        <div class="product-info">
          <img class="img" src="assets/radarfood/images/svg/nonveg.svg" alt="non-veg" />
          <h5 class="product-name">{{yeoman.preview.name}}</h5>
          <div class="d-flex align-items-center gap-2 mb-2">
            <ul class="rating-stars">
              <li><i class="ri-star-fill stars"></i></li>
              <li><i class="ri-star-fill stars"></i></li>
              <li><i class="ri-star-fill stars"></i></li>
              <li><i class="ri-star-fill stars"></i></li>
              <li><i class="ri-star-fill stars"></i></li>
            </ul>
            <h5 class="dark-text">1k+ Rating</h5>
          </div>
          <div class="product-price">
            <h6 class="fw-semibold"><span>$6</span> / $12</h6>
          </div>
        </div>
        <div class="plus-minus">
          <i class="ri-subtract-line sub"></i>
          <input type="number" value="1" min="1" max="10" />
          <i class="ri-add-line add"></i>
        </div>
      </div>
      <p>A super easy Mexican style sh  <div class="offcanvas fade offcanvas-bottom product-detail-popup" tabindex="-1" id="product-popup">
        <div class="product-box-modal ratio_40">
          <div class="product-img">
            <img class="bg-img" src="assets/radarfood/images/product/rp1.png" alt="rp1" />
          </div>
          <div class="product-content">
            <div class="product-info">
              <img class="img" src="assets/radarfood/images/svg/nonveg.svg" alt="non-veg" />
              <h5 class="product-name">Mexican Shred Beef</h5>
              <div class="d-flex align-items-center gap-2 mb-2">
                <ul class="rating-stars">
                  <li><i class="ri-star-fill stars"></i></li>
                  <li><i class="ri-star-fill stars"></i></li>
                  <li><i class="ri-star-fill stars"></i></li>
                  <li><i class="ri-star-fill stars"></i></li>
                  <li><i class="ri-star-fill stars"></i></li>
                </ul>
                <h5 class="dark-text">1k+ Rating</h5>
              </div>
              <div class="product-price">
                <h6 class="fw-semibold"><span>$6</span> / $12</h6>
              </div>
            </div>
            <div class="plus-minus">
              <i class="ri-subtract-line sub"></i>
              <input type="number" value="1" min="1" max="10" />
              <i class="ri-add-line add"></i>
            </div>
          </div>
          <p>A super easy Mexican style shredded beef cooked in a slow cooker with smoky chipotle chilies with a hint of cocoa and cinnamon.</p>
          <ul class="ingredient-list">
            <li>2-3 pounds beef roast (such as chuck, eye of round, etc.)</li>
            <li>1 tablespoon ground chipotle chilis</li>
            <li>2 tablespoons ground ancho chilis</li>
            <li>1 teaspoon ground cumin</li>
            <li>1 tablespoon oregano</li>
          </ul>
        </div>
      </div>
      <p>redded beef cooked in a slow cooker with smoky chipotle chilies with a hint of cocoa and cinnamon.</p>
      <ul class="ingredient-list">
        <li>2-3 pounds beef roast (such as chuck, eye of round, etc.)</li>
        <li>1 tablespoon ground chipotle chilis</li>
        <li>2 tablespoons ground ancho chilis</li>
        <li>1 teaspoon ground cumin</li>
        <li>1 tablespoon oregano</li>
      </ul>
    </div>
  </div>