   

    <!-- search section starts -->
    <section class="search-section">
        <div class="custom-container">
          <form class="auth-form search-head" target="_blank">
            <div class="form-group">
              <div class="form-input">
                <input type="text" class="form-control search" id="inputusername" placeholder="Comida, cocina o restaurant" />
                <i class="ri-search-line search-icon"></i>
              </div>
  
              <a href="landing.html#search-filter" class="btn filter-button mt-0" data-bs-toggle="modal">
                <i class="ri-equalizer-line"></i>
              </a>
            </div>
          </form>
        </div>
      </section>
      <!-- search section end -->

      